@model IEnumerable<FinanzCSU.Models.MonthlyAllocation>

@{
    ViewData["Title"] = "My Budget";
}

@{
    var identity = Context.User.Identity;
}

@if (Model.Any())
{
    <h1>MyBudget</h1>

    <p>
        <a asp-action="Create">Create New Budget</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MonthID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllocationID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Allocation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllocationID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allocation)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Allocation">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Allocation">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Allocation">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>You haven't setup a budget yet</h1>
}
