@model IEnumerable<FinanzCSU.Models.Transaction>

@{
    ViewData["Title"] = "My Transactions";
}

@{
    var identity = Context.User.Identity;
    bool isAuth = identity?.IsAuthenticated ?? false;
}
@if (Model.Any())
{
    @if (isAuth)
    {
    <p>
        <a asp-action="AddTransaction">Enter a transaction</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Month
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Amount
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionAmount)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    } else
    {
        <p>You'll need to sign up to start tracking your transactions<a asp-action="SignUp">Sign Up</a></p>
    }
}
else
{
    <h1>You don't have a budget yet... Click <a asp-action="CreateBudget">Get</a> to make one now!</h1>
}
